.rename-folder {
  position: relative;
}

.rename-input {
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 2s ease, transform 2s ease;
}

.rename-input:focus,
.rename-input:hover {
  opacity: 1;
  transform: translateY(0);
}
