.sidebar {
  overflow-y: hidden;
  transition: overflow 0.2s;
  
}

.sidebar:hover {
  overflow-y: auto;

}
.sidebar::-webkit-scrollbar {
  width: 6px;
}

.sidebar::-webkit-scrollbar-thumb {
  background: rgba(255,255,255,0.3);
  border-radius: 3px;
}
